$author__profile-image-size--teaser-default: 50px;

//$label--copyright-size--mobile: 10px;

$media__description-size-mobile: 13px;
$media__description-margin: 2px 0 0 0;

$author__label-author-margin: 7px 0 0 0;

$quote__author-padding--article: 10px 0 0 0;