$author__profile-image-size--teaser-default: 44px;

//$label--copyright-size--mobile: 10px;

$media__description-size-mobile: 13px;
$media__description-margin: 2px 0 0 0;

$author__label-author-margin: 7px 0 0 0;

$quote__author-padding--article: 10px 0 0 0;

$item-content__header-margin--amp: $gap-v-region-mobile 0 $gap-size-sm 0 !default;
$item-content__header-socials-margin--amp: $container-padding-sm-top-mobile 0 0 0 !default;
$item-content__header-breadcrumb-margin--amp: 0 0 $container-padding-sm-top-mobile 0 !default;