{#
/**
 * @file
 * Template for amp-pinterest-embed.
 *
 * Available variables:
 * - attributes: The HTML attributes for amp-pinterest-embed:
 *   - layout: The layout of Pinterest element.
 *   - height: The height of Pinterest element.
 *   - width: The width of Pinterest element.
 *   - data-do: The type of Pinterest embed.
 *   - data-url: The URL of the Pinterest resource.
 *
 * @see template_preprocess_amp_pinterest_embed()
 */
#}
<div class="item-media__wrapper">
  <amp-pinterest{{ attributes }} data-block-on-consent>
  </amp-pinterest>
  <div class="item-media__consent">
    <button on="tap:consent-element.prompt()">Inhalt laden</button>
  </div>
</div>
