{% set share_url = absolute_node_url ~ "?utm_medium=social&utm_campaign=Sharing&utm_source=" %}

<div{{ attributes.addClass('item-media item-media--image') }}>
    {% if content %}
        {{ content.field_image }}
    {% endif %}
</div>