<amp-consent layout="nodisplay" id="consent-element">
  <script type="application/json">
    {
      "consentInstanceId": "advanced-consent",
      "consentRequired": true,
      "promptUI": "consent-ui"
    }
  </script>
  <div id="consent-ui" class="consent">
    <div class="consent__content">
      <div class="consent__title">Verwalten Sie Ihre Privatsphäre</div>
      <p>Diese Webseite verwendet u.a. Cookies zur Analyse und Verbesserung der Webseite, zum Ausspielen personalisierter Anzeigen und zum Teilen von Artikeln in sozialen Netzwerken. Unter <a href="/datenschutz" target="_self">Datenschutz</a> erhalten Sie weitere Informationen und Möglichkeiten, diese Cookies auszuschalten.</p>
      <div class="consent__button-wrapper">
        <button class="consent__button--accept" on="tap:consent-element.accept" role="button">Alle akzeptieren</button>
        <button class="consent__button--dismiss" on="tap:consent-element.dismiss" role="button">Alle ablehnen</button>
      </div>
    </div>
  </div>
</amp-consent>
