<span class="logo">
    <amp-img src="{{ logo_url }}" layout="responsive" height="50" width="100"></amp-img>
</span>
<span class="separator">&</span>
<span class="brand">
    {{ content.field_logo_media }}
</span>


