<h3 class="item-paragraph__title">{{ 'Shop-the-look: Mit diesen Produkten den Look easy nachstylen'|trans }}</h3>
<div class="look-amp">
     {% for widget in items %}

            {% set product_id %}
                {{ widget.content }}
            {% endset %}

            {{ drupal_entity('advertising_product', product_id|striptags|render|trim , 'amp') }}



    {% endfor %}
 </div>