<div{{ attributes.addClass('native_campaign') }}>
    <span class="logo">
        {{ logo | raw }}
    </span>
    <span class="separator">&</span>
    <span class="brand">
        {{ campaign_logo  | raw }}
    </span>
    {{ content.tracking_pixel }}
</div>
