<div{{ attributes.addClass('native_campaign') }}>
    <span class="logo">
        <amp-img src="{{ logo_url }}" layout="responsive" height="50" width="100"></amp-img>
    </span>
    <span class="separator">&</span>
    <span class="brand">
        {{ content.logo }}
    </span>
    {{ content.tracking_pixel }}
</div>
