<div{{ attributes.addClass('native_campaign') }}>
    <span class="logo">
        <img src="{{ logo_url }}" />
    </span>
    <span class="separator">&</span>
    <span class="brand">
        {{ content.logo }}
    </span>
    {{ content.tracking_pixel }}
</div>
