@include ads-native();

.region-full-content.region-marketing {
  padding-left: 0;
  padding-right: 0;
}

.region-marketing {
  @extend %margin--v-region;
  text-align: center;
  amp-fx-flying-carpet {
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
  }
}

.item-marketing-native {
  amp-img {
    max-height: 20px;
  }
}

.region-marketing [data-block-on-consent] {
  background-color: $color-gray-6;
}
