@include ads-native();

.region-full-content.region-marketing {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 351px) {
    padding-left: $padding;
    padding-right: $padding;
  }
}

.region-marketing {
  @extend %margin--v-region;
  text-align: center;
}

.item-marketing-native {
  amp-img {
    max-height: 20px;
  }
}
