#consent-ui {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  height: 100vh;
  justify-items: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2147483647;
}

.consent__content {
  padding: 1.5rem;
  background-color: $color-white;

  p {
    margin-bottom: $grid-unit-2;

    a {
      text-decoration: underline;
    }
  }

  .consent__title {
    @include text-helper($font-headline, $grid-unit-2);
    margin-bottom: $grid-unit-2;
    letter-spacing: 0;
  }

  .consent__button-wrapper {
    display: flex;
  }

  button {
    @include button();
    @include button--lg();
    border-radius: 3px;
    flex: 1;
    padding-left: $grid-unit-1;
    padding-right: $grid-unit-1;
    text-transform: none;
  }

  .consent__button--accept {
    background-color: rgb(72, 72, 74);
    border: none;
    color: #fff;
    outline: none;
  }

  .consent__button--dismiss {
    background-color: $color-white;
    border: 1px solid rgb(72, 72, 74);
    color: rgb(72, 72, 74);
    fill: rgb(72, 72, 74);
    margin-left: 4%;
  }
}

@mixin placeholder() {
  align-items: center;
  border: 1px solid rgb(204, 214, 221);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:before {
    content: ' ';
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
  }

  button {
    @include button();
    @include button--md();
    @include button--white();
    margin-top: $grid-unit-2;
  }
}

.item-media__wrapper {
  position: relative;

  .item-media__consent {
    display: none;
  }

  .amp-notbuilt + .item-media__consent {
    @include placeholder();
  }

  /* native ampshared.css issue */
  amp-instagram {
    background-color: transparent;
  }

  amp-instagram.amp-notbuilt + .item-media__consent {
    &:before {
      background-image: url(/themes/contrib/infinite/images/static/instagram.png);
    }
  }

  amp-youtube.amp-notbuilt + .item-media__consent {
    @include placeholder();
    background-color: $color-dark-1;
    border: none;

    &:before {
      background-image: url(/themes/contrib/infinite/images/static/youtube.png);
      width: 150px;
    }
  }

  amp-pinterest.amp-notbuilt + .item-media__consent {
    @include placeholder();

    &:before {
      background-image: url(/themes/contrib/infinite/images/static/pinterest.png);
    }
  }

  amp-twitter.amp-notbuilt + .item-media__consent {
    @include placeholder();

    &:before {
      background-image: url(/themes/contrib/infinite/images/static/twitter.png);
    }
  }
}
