.consent {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-items: center;
}

#consent__prompt-btn {
  align-items: center;
  background-color: rgb(72, 72, 74);
  border-radius: 50px;
  border: none;
  bottom: $grid-unit-2;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  outline: none;
  position: fixed;
  right: $grid-unit-2;
  width: 40px;
  z-index: 2147483639;

  path {
    fill: $color-white;
  }
}

.consent__content {
  padding: 1.5rem;
  background-color: $color-white;

  p {
    margin-bottom: $grid-unit-2;

    a {
      text-decoration: underline;
    }
  }

  .consent__title {
    @include text-helper($font-headline, $grid-unit-2);
    margin-bottom: $grid-unit-2;
    letter-spacing: 0;
  }

  .consent__button-wrapper {
    display: flex;
  }

  button {
    @include button();
    @include button--lg();
    border-radius: 3px;
    flex: 1;
    text-transform: none;
    padding: 0;

    a {
      display: block;
      padding-left: $grid-unit-1;
      padding-right: $grid-unit-1;
      
      &:hover {
        color: inherit;
      }
    }
  }

  .consent__button--accept {
    background-color: rgb(72, 72, 74);
    border: none;
    color: #fff;
    outline: none;
  }

  .consent__button--reject {
    background-color: $color-white;
    border: 1px solid rgb(72, 72, 74);
    color: rgb(72, 72, 74);
    fill: rgb(72, 72, 74);
    margin-left: 4%;
  }
}

@mixin placeholder($bg-size: contain, $bg-pos: bottom) {
  align-items: center;
  border: 1px solid rgb(204, 214, 221);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:before {
    content: ' ';
    background-position-y: $bg-pos;
    background-repeat: no-repeat;
    background-size: $bg-size;
    height: 50px;
    width: 50px;
  }

  button {
    @include button();
    @include button--md();
    @include button--white();
    margin-top: $grid-unit-2;
  }
}

.item-media__wrapper {
  position: relative;

  .item-media__consent {
    display: none;
  }

  .amp-notbuilt + .item-media__consent {
    @include placeholder();
  }

  /* native ampshared.css issue */
  amp-instagram {
    background-color: transparent;
  }

  amp-instagram.amp-notbuilt + .item-media__consent {
    &:before {
      background-image: url(/themes/contrib/infinite/images/static/instagram.png);
    }
  }

  amp-youtube.amp-notbuilt + .item-media__consent {
    background-color: $color-dark-1;
    border: none;

    &:before {
      background-image: url(/themes/contrib/infinite/images/static/youtube.png);
      width: 150px;
    }
  }

  amp-pinterest.amp-notbuilt + .item-media__consent {
    &:before {
      background-image: url(/themes/contrib/infinite/images/static/pinterest.png);
    }
  }

  amp-twitter.amp-notbuilt + .item-media__consent {
    &:before {
      background-image: url(/themes/contrib/infinite/images/static/twitter.png);
    }
  }

  amp-nexxtv-player.amp-notbuilt + .item-media__consent {
    background-color: $color-dark-1;
    border: none;

    &:before {
      align-items: center;
      background-image: url(/themes/contrib/infinite/images/static/play_icon.png);
      background-position-x: center;
      background-position-y: center;
      background-size: 12px;
      border-radius: 50%;
      border: 1px solid $color-white;
      color: white;
      content: ' ';
      display: flex;
      justify-content: center;
    }
  }
}
