.item-content__header {
  @extend %item-content__header;
}

.item-content__block, .item-block {
  @extend %item-content__block;
}

.item-content__block--meta-data {
  @extend %item-author--vita-short;
}

.item-content--article {
  @extend %item-content--article-amp;
}

.item-content--taxonomy {
  @extend %item-content--article-amp;
}
