.look__subline {
  //text-align: center;
  @include text-helper($font-headline-bold-id, $font-size-base);
}

.fixed-container {
  position: relative;
  /* width: 500px;*/
  height: 500px;
}

.fixed-height-container {
  position: relative;
  width: 100%;
  height: 500px;
}

amp-img.contain img {
  object-fit: contain;
}

.look-amp {
  margin-top: 15px;

  .look-title,
  .look-headline {
    //text-align: center;
    margin-bottom: 16px;
  }
}

.look-amp__product-wrapper {
  @extend %gap--v-region;
  border-top: $h-line-style;


  &:first-child {
    border-top: 0;
  }
}

.look-amp .item-product{
  border-top: none;
  padding-top: 0;
  margin-top: $gap-size-xs;
}
