.item-media {
  @extend %item-media--amp;
}

.item-media--gallery {
  @extend %item-media--gallery-amp;
}

.item-media--header {
  @extend %item-media--header;
}

.item-media--nexx-video {
  margin-left: -$container-h-gap--mobile;
  margin-right: -$container-h-gap--mobile;

  .caption {
    padding-left: $container-h-gap--mobile;
  }
}
