.p {
  .item-title, .p__title {
    @extend %title--content-block;
  }
}

.p--recent-content, .p--content-teaser, .p--term-teaser {
  @extend %p--recent-content;
}

.p--text {
  @extend %p--text;
}

.p--quote {
  @extend %p--quote;
}

.ecommerce-slider {

  .affiliatelinks {
    @include label--affiliate();
  }

  .ecommerce-slider__title {
    @include text-helper($ecommerce-slider__item-text-headline-font-id, $ecommerce-slider__item-text-headline-size);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background-color: #bbbbbb;
    margin: 10px 0;
  }

  .ecommerce-slider__company {
    text-align: center;
    margin: $ecommerce-slider__company-margin;

    & > .separator {
      margin: $ecommerce-slider__brand-seperator-margin;
      vertical-align: middle;
    }

    & > .brand > svg, & > .brand > img {
      height: $ecommerce-slider__brand-height;
      vertical-align: middle;
    }
  }

  .ecommerce-slider__container {
    background-color: #ffffff;
  }

  .item-product {
    @include product__item-text--ecommerce-slider();
    @include product__item--ecommerce-slider();
  }

}


.p--pinterest {
  @extend %p--pinterest;
}

.p--seo-links {
  @extend %p--seo-links;
}

.p--amp.p--advertising-products-paragraph .item-product {
  .caption {
    padding-left: $grid-unit-2;
  }
}
