.item-paragraph {
  .item-title, .item-paragraph__title {
    @extend %title--content-block;
  }
}

.item-paragraph--recent-content, .item-paragraph--content-teaser, .item-paragraph--term-teaser {
  @extend %item-paragraph--recent-content;
}

.item-paragraph--text {
  @extend %item-paragraph--text;
}

.item-paragraph--quote {
  @extend %item-paragraph--quote;
}

.item-paragraph--tracdelight, .item-paragraph--advertising-products-paragraph {
  @include item-paragraph--tracdelight();
}

.item-paragraph--spotlight {
  @include item-paragraph--spotlight();
}

.item-paragraph--profile {
  @include item-paragraph--profile();
}

.item-paragraph--seo-links {
  @include item-paragraph--seo-links();
}