
.region--full-content, .region-full-content {
  @extend %region--full-content;
  @extend %region__children--full-content;
}

.region-full-content + .region-full-content {
  @extend %gap--v-region;
  @if ($region-v-lined) {
    border-top: $h-line-style;
  }
}

.no-v-padding:first-child {
  @include margin--v-region(-$gap-v-region-mobile);
}

@if ($region-v-lined == false) {
  .region-header + .region-teaser-list, .region-marketing + .region-full-content {
    margin-top: 0;
  }
}

.region-teaser-list {
  //@extend %padding--v-region;
}