.socials {
  .item-social {
    @extend %socials-default-item;
    margin-left: $socials-media-left-gap;
    margin-top: $socials-media-left-gap;

    &:first-child {
      margin-left: 0;
    }
  }

  //fb / whatsapp / instagram / etc
  @include socials-default-items();
}

.item-social.icon-email {
  background-size: $socials-icon-size-md + 9px;
}