.teaser {
  @extend %teaser-default;
  @include teaser-feed-large-text();
  border-top: $feed-teaser-h-line;
  padding-top: $feed-teaser-gap-top-mobile;
  margin-top: $feed-teaser-gap-top-mobile;

  &:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }

  .teaser__caption {
    padding-top: $gap-size-xs;
  }
}