$newsletter__text-color: $text-color !default;
$newsletter__contianer-form-bg: $color-brand !default;
$newsletter__section-text-align: center !default;
$newsletter__title-font-id: $font-headline-id !default;
$newsletter__title-size-mobile--default: getFontSize(18px) !default;
$newsletter__title-letter-spacing: 0 !default;
$newsletter__input-font-id: $font-content-id !default;
$newsletter__input-text-size: getFontSize(16px) !default;
