@mixin product__item--default {
  position: relative;
  overflow: hidden;
  margin-bottom: $gap-size-lg;

  @if ($product__item-lined-mobile) {
    @include gap--v-xl();
    border-top: $h-line-style;
  }

  display: block;
  width: auto;
  margin-right: 0;
  padding-left: 0;

  &:first-child {
    @include gap__container--v-reset(true);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .text-headline {
    height: (
        $product__item-text-headline-size *
          $product__item-text-headline-line-height
      ) * 2;
    overflow: hidden;
  }

  .text-brand {
    overflow: hidden;
    display: block;
    margin-bottom: $product__item-text-brand-gap-bottom;
  }

  .text-price {
    position: absolute;
    right: 0;
    left: 16px;
    color: $product__item-text-price-color;
    bottom: $product__item-text-price-pos-bottom;
  }

  .text-shop {
    @include product__button--default();
    margin-top: 10px;
  }

  .img-container {
    text-align: center;
    overflow: hidden;
    height: auto;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 24px;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
    }
  }

  .caption {
    position: relative;
    text-align: center;
  }

  .text-headline {
    margin-bottom: $product__item-text-headline-gap-bottom-mobile;
  }

  .img-container,
  .caption {
    @include make-column($grid-columns/2, 0);
  }
}

@mixin product__item--ecommerce-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: $gap-size-lg;

  @if ($product__item-lined-mobile) {
    @include gap--v-xl();
    border-top: $h-line-style;
  }

  display: block;
  width: auto;
  margin-right: 0;
  padding-left: 0;

  &:first-child {
    @include gap__container--v-reset(true);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .text-headline {
    //overflow: hidden;
  }

  .text-brand {
    overflow: hidden;
    display: block;
    margin-bottom: $product__item-text-brand-gap-bottom;
  }

  .text-shipping,
  .text-price {
    position: absolute;
    width: 100%;
  }

  .text-shipping {
    right: 0;
    bottom: $product__item-text-shipping-pos-bottom;
  }

  .text-price {
    left: 0;
    color: $product__item-text-price-color;
    bottom: $product__item-text-price-pos-bottom;
  }

  .text-shop {
    margin-top: 10px;
  }

  .img-container {
    text-align: center;
    margin-bottom: $gap-size-xs;
    height: 200px;
    overflow: hidden;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
    }
  }

  .caption {
    position: relative;
    text-align: center;
  }

  .text-headline {
    margin-bottom: $product__item-text-headline-gap-bottom-mobile;
    //height: $product__item-text-headline-height-mobile;
  }

  .img-container {
    height: auto;
    margin-bottom: 0;
    padding: 24px 0;
  }
}

@mixin product__item-text--ecommerce-slider() {
  &:hover {
    .text-shop {
      @include product__button--hover();
    }
  }

  .text-headline {
    @include text-helper(
      $ecommerce-slider__item-text-headline-font-id,
      $ecommerce-slider__item-text-headline-size
    );
    color: $ecommerce-slider__item-text-headline-color;
  }

  .text-brand {
    @include text-helper(
      $ecommerce-slider__item-text-brand-font-id,
      $ecommerce-slider__item-text-brand-size
    );
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $ecommerce-slider__item-text-brand-color;
  }

  .text-price {
    @include text-helper(
      $ecommerce-slider__item-text-price-font-id,
      $ecommerce-slider__item-text-price-size
    );
    color: $ecommerce-slider__item-text-price-color;
  }

  .text-shipping {
    @include text-helper(
      $ecommerce-slider__item-text-shipping-font-id,
      $ecommerce-slider__item-text-shipping-size
    );
    color: $ecommerce-slider__item-text-shipping-color;
  }

  .text-shop {
    @include product__button--default();
  }
}

@mixin products--horizontal-block {
  .products__info-box--grid {
    @extend %products__info-box--grid;
  }
}

@mixin item-paragraph--tracdelight() {
  @include products--horizontal-block();

  .affiliatelinks {
    @include label--affiliate();
  }

  .item-title {
    @extend %title--content-block;
  }

  .item-product {
    @include product__item-text();
    @include product__item--default();
  }
}

@mixin products__info-box--grid() {
  background-color: $products-info-box__bg-color--grid;
  text-align: $products-info-box__text-align--grid;
  margin: $products-info-box__margin-mobile--grid;
  padding: $products-info-box__padding-mobile--grid;

  p {
    @include text-helper($products-info-box__text-id--grid);
  }

  .button {
    @extend %margin--v-sm;
  }

  p:first-child > .button,
  & > .button:first-child {
    margin-top: 0;
  }

  p {
    @include text-helper-size(
      $products-info-box__text-id--grid,
      $products-info-box__text-size-mobile--grid
    );
  }
}
