@mixin item-media--amp() {
  amp-img {
    margin-bottom: $gap-size-xxs;
  }

  .caption {
    position: relative;
    min-height: $socials-size-md;
    padding-right: $item-image-socials-width + $grid-gutter-width;
    word-wrap: break-word;
    margin-top: 15px;
  }

  .text-description {
    @extend %item-media__description;
  }

  .text-copyright {
    @extend %label--copyright;
  }

  .socials-bar {
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
  }
}

@mixin item-media--gallery-amp() {
  position: relative;

  amp-img {
    margin-bottom: 19px;
  }

  img {
    object-fit: contain;
    object-position: 50% 0;
  }

  .caption {
    @extend %caption-overlay-amp;
  }

  .text-copyright {
    font-size: 10px;
  }
}

@mixin item-media__description() {
  @include text-helper($media__description-font-id);
  @include text-helper-size($media__description-font-id, $media__description-size-mobile);
  margin: $media__description-margin;
  color: $media__description-color;

  p {
    line-height: inherit;
    font-size: inherit;
  }
}

@mixin item-media--file() {
  @include item-media--file-text();
  position: relative;
  min-height: $media__min-height--file;

  .item-media__title--file {
    margin: $media__title-margin--file;
    display: inline-block;
  }

  .item-media__description--file {
    margin: $media__description-margin--file;
  }

  .item-media__btn-download--file {
    margin: $media__btn-download-margin-mobile--file;
  }
}

@mixin item-media--header-ratio() {
  padding-bottom: $media__header-ratio-xs;
}

@mixin caption-overlay-amp() {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($white, 0.8);
  padding: 5px 5px 0 5px;
  color: $gray-base;
  min-height: 0;
}

@mixin nexx-separator-amp {
  font-family: $nexx-separator-font;
  font-size: getFontSize(14px);
  letter-spacing: 0;
  line-height: 1.4;
  margin-bottom: $grid-unit-half;
  margin-top: $grid-unit-3;
  position: relative;

  &:before {
    background-color: white;
    content: $nexx-separator-icon;
    display: inline-block;
    font-family: $font-icons;
    font-size: getFontSize(14px);
    padding: $grid-unit-half $grid-unit-half $grid-unit-half 0;
    position: relative;
    top: 3px;
    transform: rotate(45deg);
  }

  &:after {
    border-top: $nexx-separator__border;
    content: ' ';
    left: 120px;
    position: absolute;
    right: 0;
    top: 14px;
  }

  span {
    background-color: $nexx-separator__label--bg;
    display: inline-block;
    padding: $grid-unit-half 10px;
    position: relative;
    z-index: 2;
  }
}
