@mixin item-media--gallery-amp() {
  amp-img {
    margin-bottom: 19px;
  }

  img {
    object-fit: contain;
    object-position: 50% 0;
  }

  .caption {
    @extend %caption-overlay-amp;
  }
}

@mixin item-media__description() {
  @include text-helper($media__description-font-id);
  @include text-helper-size($media__description-font-id, $media__description-size-mobile);
  margin: $media__description-margin;
  color: $media__description-color;

  p {
    line-height: inherit;
    font-size: inherit;
  }
}

@mixin item-media--file() {
  @include item-media--file-text();
  position: relative;
  min-height: $media__min-height--file;

  .item-media__title--file {
    margin: $media__title-margin--file;
    display: inline-block;
  }

  .item-media__description--file {
    margin: $media__description-margin--file;
  }

  .item-media__btn-download--file {
    margin: $media__btn-download-margin-mobile--file;
  }
}

@mixin item-media--header-ratio() {
  padding-bottom: $media__header-ratio-xs;
}