@mixin p--profile-text() {
  .title {
    @extend %text-label;
    @include text-label-size($profile__title-size);
    text-transform: uppercase;
    color: $profile__title-color;
  }

  .col--right {
    text-align: center;
  }

  th {
    @extend %text-label;
    @include text-label-size($profile__th-size);
    color: $profile__th-color;
    text-transform: uppercase;
  }

  td {
    color: $profile__td-color;
  }
}

@mixin seo-linker-text() {
  .seo-linker__item-title {
    @include text-helper($seo-linker__item-title-font-id);
    @include text-helper-size(
      $seo-linker__item-title-font-id,
      $seo-linker__item-title-size-mobile
    );
    text-transform: uppercase;
  }

  .seo-linker__link-list--image {
    @include text-helper($seo-linker__link-list-font-id);
    color: $seo-linker__link-list-color;

    a:hover {
      color: $seo-linker__link-list-hover-color;
    }
  }

  .seo-linker__link-list--image {
    @include text-helper-size(
      $seo-linker__link-list-font-id,
      $seo-linker__link-list-size-mobile
    );
  }
}

/**
** Teaser types
**/

@mixin teaser-feed-large-text($size-mobile: $feed-teaser-headline-size-mobile) {
  .teaser__title {
    @include text-headline-size($size-mobile);
    text-transform: $feed-teaser-headline-text-transform;
  }
}

@mixin teaser-list__text--middle(
  $size-mobile: $teaser-list__headline-size-mobile--teaser-middle,
  $font: $teaser-list__headline-font-id--teaser-middle
) {
  .text-headline {
    @include text-helper($font);
    @include text-helper-size($font, $size-mobile);
  }
}

@mixin teaser-list__text--horoscope-middle(
  $size-mobile: $teaser-list__headline-size-mobile--teaser-horoscope-middle,
  $font: $teaser-list__headline-font-id--teaser-horoscope-middle
) {
  .text-headline {
    @include text-helper($font);
    @include text-helper-size($font, $size-mobile);
  }
}

@mixin teaser-list__text--horoscope-50(
  $size-mobile: $teaser-list__headline-size-mobile--teaser-horoscope-middle,
  $font: $teaser-list__headline-font-id--teaser-horoscope-middle
) {
  @include teaser-list__text--horoscope-middle($size-mobile, $font);
}

@mixin teaser-list-h-text() {
  .teaser__title {
    @include text-helper($teaser__title-font-id--list-horizontal);
    @include text-helper-size(
      $teaser__title-font-id--list-horizontal,
      $teaser__title-size--list-horizontal-mobile
    );
    color: $teaser__title-color--list-horizontal;
  }
}

@mixin teaser-square-xs-text() {
  .teaser__title {
    @include text-headline();
    @include text-headline-size($teaser-square-xs-headline-size-mobile);
  }
}

/**
** Socials
**/

@mixin socials-labeled-horizontal-bar-text() {
  .item-social span {
    @include text-helper(
      $socials-labeled-horizontal-bar-label-font-id,
      $socials-labeled-horizontal-bar-label-size
    );
    line-height: $socials-labeled-horizontal-bar-label-size + 1px;
    text-transform: uppercase;
  }
}

@mixin item-media--file-text() {
  .item-media__title--file {
    @include text-helper($media__title-font-id--file);
    @include text-helper-size(
      $media__title-font-id--file,
      $media__title-size-mobile--file
    );
    color: $media__title-color--file;
  }

  .item-media__description--file {
    @include text-helper($media__description-font-id--file);
    @include text-helper-size(
      $media__description-font-id--file,
      $media__description-size-mobile--file
    );
    color: $media__description-color--file;
  }

  .item-media__btn-download--file {
    @include button();
    @include button--lg();
    @include button--dark();
  }
}

@mixin item-anchor-nav__text() {
  @include text-helper($anchor-nav__item-font-id);
  @include text-helper-size(
    $anchor-nav__item-font-id,
    $anchor-nav__item-size-mobile
  );
  color: $anchor-nav__item-mobile-color;
  text-transform: $anchor-nav__item-text-transform;

  li {
    display: inline-block;
  }
}

@mixin item-media--header-text() {
  .text-headline {
    @include text-helper($title--media-header-font-id);
    @include text-helper-size(
      $title--media-header-font-id,
      $title--media-header-mobile
    );
    text-shadow: $title--media-header-text-shadow;
    text-transform: $title--media-header-text-transform;
    color: $title--media-header-color;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin teaser__text--default() {
  .teaser__overhead {
    @include text-helper($teaser__overhead-font-id--default);
    @include text-helper-size(
      $teaser__overhead-font-id--default,
      $teaser__overhead-size-mobile--default
    );
    text-transform: uppercase;
    color: $teaser__overhead-color--default;
    letter-spacing: $teaser__overhead-letter-spacing--default;
  }

  .teaser__copy {
    @extend %copytext--teaser-default;
  }
}


@mixin product__item-hover--default() {
  .text-shop,
  .btn-text-shop--tipser {
    @include button--lined-colored-hover;
  }
}
