@mixin vendor($property, $value){
    -webkit-#{$property}: $value;
    #{$property}: $value;
}

@mixin flexbox($orientation: horizontal, $inline: false) {
  @if ($inline) {
    display: -webkit-inline-flex; /* NEW - Chrome */
    display: inline-flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  } @else {
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  @if ($orientation == horizontal) {
    @include vendor(flex-direction, row);
  } @else {
    @include vendor(flex-direction, column);
  }
}
