@mixin item-content__header() {
  margin: $item-content__header-margin--amp;

  .region-marketing {
    margin-top: 0;
  }

  .ratio-wrapper {
    @include item-media--header-ratio();
    position: relative;
    height: 0;
    overflow: hidden;

    .caption {
      @extend %gap__container--h-padding;
      @extend %flexbox;
      @extend %align-items-center;
      @extend %justify-content-center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .author {
    margin: $author__margin-mobile--content-header;
  }

  .breadcrumb {
    margin: $item-content__header-breadcrumb-margin--amp;

    li:before {
      line-height: inherit;
    }
  }

  .title--page {
    @extend %title--page-center;
    width: 100%;
  }

  .socials {
    margin: $item-content__header-socials-margin--amp;
  }
}

@mixin item-content--paragraphs-amp() {
  .item-content__content > .p:first-child {
    margin-top: 0;

  }

  .item-content__content > .p--spotlight:first-child {
    @include margin--v-region(-$gap-v-region-mobile);
  }

  .p {
    margin-top: $gap-v-region-mobile;
  }

  .item-content__block--tags {
    margin-top: $gap-v-region-mobile * 2;
  }
}

@mixin item-content--article-amp() {
  @extend %item-content--paragraphs-amp;

  .title--article {
    @include text-helper($title--article-font-id, $title--article-mobile, $title--article-line-height);
    color: $title--article-color;
    text-transform: $title--article-text-transform;
  }
}

@mixin item-content--taxonomy-amp() {
  @extend %item-content--article-amp;
  @extend %item-content--paragraphs-amp;
  @extend %container--v-padding;
}
