@mixin p--text() {
  @include text-content-html;
  @include copytext--text-block;

  .button {
    @include margin--v-sm;
    text-decoration: none;
  }


  & > iframe, .instagram-media {
    //TODO check if important is necessary - when it is we have to override it in the amp themes
    margin-top: $grid-unit-4;
  }
}

@mixin p--term-teaser() {
  @include p--content-teaser();
}


@mixin p--recent-content() {
  @include p--content-teaser();
}

@mixin p--content-teaser() {
  .text-title {
    @extend %title--content-block;
  }

  .list__content-teaser--horizontal {
    @extend %list__content-teaser--horizontal;
  }

  .teaser {
    @extend %teaser--content;
    @extend %list__content-teaser__item--horizontal;
  }

  .item-marketing-sponsored {
    margin-bottom: 0px;
  }

  .item-marketing-native {
    .logo, .brand {
      height: 13px;
    }
  }

  .teaser__caption {
    overflow: hidden;
  }

  //.teaser__caption {
  //  height: $teaser--content-caption-height-mobile;
  //}
}

@mixin p--quote() {
  @extend %center-block;
  text-align: $quote__text-align--article;
  position: relative;

  &:before, &:after {
    @extend %center-block;
    content: " ";
    max-width: $quote__border-max-width--article;
    border-top: $quote__border-style--article;
    display: block;
  }

  p:before, p:after {
    @include text-helper($quote__quote-font-id--article);
    color: $quote__quote-color--article;
    font-style: $quote__title-font-style--article;
    position: relative;
    top: $quote__quote-top--article;
    display: $quote__quote-display--article;
  }

  p {
    @include text-helper($quote__title-font-id--article);
    color: $quote__title-color--article;
    font-style: $quote__title-font-style--article;
    padding: $quote__title-padding--article;

    &:before {
      content: $quote__quote-before--article;
      padding: $quote__quote-before-padding--article;
    }

    &:after {
      content: $quote__quote-after--article;
      padding: $quote__quote-after-padding--article;
    }
  }

  footer {
    @include text-helper($quote__author-font-id--article);
    color: $quote__author-color--article;
    font-style: $quote__author-font-style--article;
    text-transform: $quote__author-text-transform--article;
    padding: $quote__author-padding--article;
    text-align: $quote__author-text-align--article;

    &:before {
      content: $quote__author-before--article;
      vertical-align: $quote__author-v-align--article;
      padding: $quote__author-before-padding--article;
    }
  }

  p:before, p:after {
    @include text-helper-size($quote__quote-font-id--article, $quote__quote-size-mobile--article, $quote__quote-line-height--article);
  }

  //called title
  p {
    @include text-helper-size($quote__title-font-id--article, $quote__title-size--article-mobile, $quote__title-line-height--article);
  }

  footer {
    @include text-helper-size($quote__author-font-id--article, $quote__author-size--article-mobile, $quote__author-line-height--article);
  }
}

@mixin p--spotlight() {
  @include gap__container--h-negative();
  @include _spotlight--small();

  /** Defaults **/
  position: relative;

  amp-img {
    margin-bottom: 0;
  }

  .socials-bar .item-social {
    @include socials-clean-horizontal-bar-item--light();
  }

  .spotlight__wrapper {
    position: relative;
  }

  .spotlight__caption {
    color: $spotlight__caption-color;
  }
}

@mixin _spotlight--small() {
  @include item-content--spotlight-small-text();

  .spotlight__caption {
    @include container--v-padding();
    padding-left: $gap-size-sm;
    padding-right: $gap-size-sm;
    padding-bottom: $gap-size-sm;
    background: $spotlight__caption-bg;
    position: relative;
  }

  .spotlight__title {
    margin-bottom: $gap-size-xxs;
  }

  .spotlight__subtitle {
    margin-bottom: $gap-size-xs;
  }

  .spotlight__copytext {
    margin-bottom: $gap-size-lg;
  }
}

@mixin p--profile() {
  @include p--profile-text;
  @include _profile--small();

  .title {
    margin-bottom: $profile__title-gap-bottom;
  }

  .caption {
    padding-top: $gap-size-xxs;
  }

  .facts {
    max-width: $profile__fact-max-width;
    width: 100%;
    display: inline-block;
  }

  table, tbody, th, td, tr {
    display: block;
    text-align: center;
  }

  tr {
    @include p--profile__fact-item();
  }
}

@mixin p--profile__fact-item() {
  th {
    border-top: $h-line-style;
    padding-top: $gap-size-xxs;
    margin-top: $gap-size-xxs;
  }

  td {
    margin-top: $gap-size-xxs;
  }
}

@mixin p--seo-links() {
  @include seo-linker-text();

  .seo-linker__item--image {
    .img-container img {
      @extend %img-full-responsive-inline-block;
    }
  }

  .seo-linker__item-title {
    @extend %gap__caption-top--h-teaser;
  }

  .seo-linker__link-list--image {
    @extend %list__links--module;
  }
}

@mixin p--instagram() {

}

@mixin p--pinterest() {
  text-align: center;

  amp-pinterest {
    text-align: left;
  }

  .-amp-pinterest-embed-pin-stats {
    padding-top: 0;
  }
}
