@mixin list__content-teaser__item--horizontal($item-count: $list__content-teaser--horizontal-count--small) {
  margin-top: $list__content-teaser__item--horizontal-gap-top-mobile;
  padding-top: $list__content-teaser__item--horizontal-gap-top-mobile;
  padding-left: $list__content-teaser--horizontal-gap-h-mobile;
  padding-right: $list__content-teaser--horizontal-gap-h-mobile;
}

@mixin list__content-teaser--horizontal() {
  @include clearfix();
  margin-left: -$list__content-teaser--horizontal-gap-h-mobile;
  margin-right: -$list__content-teaser--horizontal-gap-h-mobile;
}

@mixin list__images--horizontal($gap-mobile: $teaser__gap--list-horizontal-mobile) {
  @include clearfix();

  margin-left: -$gap-mobile;
  margin-right: -$gap-mobile;
}

@mixin list__images--horizontal__item($gap-mobile: $teaser__gap--list-horizontal-mobile, $count: $teaser-list-horizontal-count-default) {
  padding-left: $gap-mobile;
  padding-right: $gap-mobile;
}
