
@mixin label--copyright($size-mobile: $label--copyright-size--mobile, $font: $label--copyright-font-id, $color: $label--copyright-color) {
  @extend %icon-copyright;
  @include text-helper($font);
  @include text-helper-size($label--copyright-font-id, $size-mobile);
  color: $color;
  text-transform: $label--copyright-text-transform;

  span + span {
    &:before {
      content: ",";
      margin-left: -4px;
      margin-right: 3px;
    }
  }
}

@mixin label--affiliate() {
  @include text-helper($label--affiliate-font-id, $label--affiliate-size--desktop);
  @include text-helper-size($label--affiliate-font-id, $label--affiliate-size--mobile);
  color: $label--affiliate-color;
  text-transform: $label--affiliate-text-transform;
  text-align: right;
  line-height: 1.4;
  letter-spacing: 0.7px;
  margin: 8px 0;
}
