<div class="ecommerce-slider">
    {% if content.field_suppress_affiliate_link[0]['#markup'] != '1' %}
      <div class="affiliatelinks">
       <a href="/affiliatelinks" target="_self">Affiliatelinks</a>
      </div>
    {% endif %}
    <h3 class="ecommerce-slider__title">{{ label }}</h3>
    <div class="ecommerce-slider__company">
        {{ content.field_campaign }}
    </div>
    <div class="ecommerce-slider__container">
        <amp-carousel height="600" layout="fixed-height" type="slides">
            {{ content.field_advertising_products }}
        </amp-carousel>
    </div>
</div>
