<div class="ecommerce-slider">
    <h3 class="ecommerce-slider__title">{{ label }}</h3>
    {{ content.field_campaign }}
    <amp-carousel height="600" layout="fixed-height" type="slides">
        {{ content.field_advertising_products }}
    </amp-carousel>
</div>