{% if 'tipser' == provider %}
    <div class="text-shop"><amp-img
                layout="fixed"
                width="18"
                height="18"
                src="/themes/contrib/infinite_amp/icons/basket.svg"></amp-img>Kaufen</div>
{% else %}
    <div class="text-shop">Zum Shop</div>
{% endif %}
