{% set link_url = link_url | default("") %}

<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    {% if link_url != "" %}
    <a class="logo" href="{{ link_url }}" title="{{ 'Home'|t }}">
        {% endif %}

        {% block publisher_data_block %}
        {% endblock %}

        <amp-img src="{{ logo }}" alt="{{ 'Home'|t }}" width="100" height="50">
        </amp-img>

        {% if use_link != "false" %}
    </a>
    {% endif %}
</span>


{#</div>#}

