{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}
{% if width is not empty %}
    <amp-img{{ attributes }} ></amp-img>
{% endif %}
{% if width is empty %}
<div class="fixed-container">
    <amp-img{{ attributes }} class="contain" layout="fill"></amp-img>
</div>
{% endif %}
