{% set deviceAdIds = ad_tag | default({'smartphone': '', 'tablet': '', 'desktop': ''}) %}
{% set smartphoneId = deviceAdIds['smartphone'] | default('') %}

{% block content %}
    {#<div class="region-full-content region-marketing">#}
        {#<div class="container-content container-fixed-content container-marketing">#}
            {#<amp-ad width=300 height=250#}
                    {#type="appnexus"#}
                    {#data-tagid="{{ smartphoneId }}">#}
            {#</amp-ad>#}
        {#</div>#}
    {#</div>#}
{% endblock %}