{{ attach_library('amp/amp.fx-flying-carpet') }}

<div
  class="amp-flying-carpet-text-border"
  style="background-color:black;color:#fff;text-align:center;">Advertising</div>
<amp-fx-flying-carpet height="300px">
  <amp-ad{{attributes}} json='{{ json|json_encode|raw }}'>
    <div fallback></div>
  </amp-ad>
</amp-fx-flying-carpet>
<div
  class="amp-flying-carpet-text-border"
  style="background-color:black;color:#fff;text-align:center;">Advertising</div>
