{{ attach_library('infinite_amp/amp.fx-flying-carpet') }}

<amp-fx-flying-carpet height="300px">
  <amp-ad{{attributes}} json='{{ json|json_encode|raw }}'>
    <div fallback></div>
  </amp-ad>
</amp-fx-flying-carpet>
