.item-block {
  margin-bottom: $title--horizontal-block-gap-bottom-mobile;

  .item-title,
  .nexx-headline {
    @extend %title--text-block;
    margin-bottom: $gap-size-sm;
  }

  .nexx-headline {
    margin-top: 0;
  }
}

.item-block {
  .embed-responsive {
    margin-left: -$container-h-gap--mobile;
    margin-right: -$container-h-gap--mobile;
  }
}
