.nexx-separator {
  font-family: $font-label;
  font-size: getFontSize(14px);
  letter-spacing: 0;
  line-height: 1.4;
  margin-bottom: $grid-unit-half;
  margin-top: $grid-unit-3;
  position: relative;

  &:before {
    background-color: white;
    content: $nexx-separator-icon;
    display: inline-block;
    font-family: $font-icons;
    font-size: getFontSize(14px);
    padding: $grid-unit-half $grid-unit-half $grid-unit-half 0;
    position: relative;
    top: 3px;
    transform: rotate(45deg);
  }

  &:after {
    border-top: 1px solid #383838;
    content: ' ';
    left: 120px;
    position: absolute;
    right: 0;
    top: 14px;
  }
}

.nexx-separator span {
  background-color: white;
  display: inline-block;
  padding: $grid-unit-half 10px;
  position: relative;
  z-index: 2;
}

.item-block {
  margin-bottom: $title--horizontal-block-gap-bottom-mobile;

  .item-title,
  .nexx-headline {
    @extend %title--text-block;
    margin-bottom: $gap-size-sm;
  }

  .nexx-headline {
    margin-top: 0;
  }
}

.item-block {
  .embed-responsive {
    margin-left: -$container-h-gap--mobile;
    margin-right: -$container-h-gap--mobile;
  }
}
