{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div{{attributes}} class="region-footer">
  <a class="more-button" href="/">
    Mehr von
    {{ site_name }}
  </a>
  <div class="data-protection centered">
    <a href="/datenschutz" class="block link">Datenschutzbestimmungen</a>
    <a href="/impressum" class="block link">Impressum</a>
  </div>
  {{ content }}
</div>
